<div class="container">
  <div class="row module-row">
    <div class="col-xs-4">
     <h2>Module View</h2>
    </div>
    <div class="col-xs-3 module-input">
      <input type="text" class="form-control" ng-model="module.name">
    </div>
  </div>
  <div class="row module-row">
    <form>
      <div class="col-xs-4">
        <input type="text" placeholder="New Lesson" class="form-control" ng-model="newLessonTitle">
      </div>
      <div class="col-xs-4">
        <input type="submit" value="&plus; Create Lesson For Module" class="btn btn-success" ng-click="createLesson(newLessonTitle)">
      </div>
    </form>
  </div>
  <div ng-repeat="lesson in module.lessons">
    <a href="/#/team/{{params.teamId}}/library/{{params.libraryId}}/module/{{params.moduleId}}/lesson/{{lesson.id}}">
      <li class="lessons-list">{{lesson.title}}</li>
    </a>
  </div>
  <button class="btn module-save-button" ng-class="{'btn-success' : (currentName !== module.name || !inOrder)}" ng-disabled="checkName(module.name)" ng-click="updateModule()">Save Changes</button>
</div>

<ul dnd-list="models.lists">
  <!-- The dnd-draggable directive makes an element draggable and will
       transfer the object that was assigned to it. If an element was
       dragged away, you have to remove it from the original list
       yourself using the dnd-moved attribute -->
  <li ng-repeat="lesson in models.lists"
    dnd-draggable="lesson"
    dnd-moved="models.lists.splice($index, 1)"
    dnd-effect-allowed="move"
    dnd-selected="models.selected = lesson"
    ng-class="{'selected': models.selected === lesson}"
    >
    <a href="">{{lesson.title}}</a>
  </li>
</ul>