<div class="panel-group" id="accordion">
  <div class="panel panel-default" ng-repeat="module in library">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-target="#collapse{{module.id}}" data-parent="#accordion" href="">{{module.name}}</a>
          </h4>
      </div>
      <div id="collapse{{module.id}}" class="panel-collapse collapse in">
          <div class="panel-body">
              <ul>
                <li ng-repeat="lesson in module.lessons">
                  <a href="/#/team/{{params.teamId}}/library/{{params.libraryId}}/module/{{params.moduleId}}/lesson/{{lesson.id}}">{{lesson.title}}</a>
                </li>
              </ul>
          </div>
      </div>
  </div>
