<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Libraries <span class="caret"></span></a>

      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="lib in StateTracker.libraries">
          <a ng-href="#/admin/library/{{lib.id}}">{{lib.name}}</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Teams<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="team in AuthService.currentUser.teams">
          <a ng-href="#/admin/team/{{team.id}}">{{team.name}}</a>
        </li>
      </ul>
    </li>

    <!-- View As Button -->
    <li class="dropdown" ng-show="AuthService.isAdmin">
      <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View As<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="team in AuthService.currentUser.teams">
          <a ng-click="StateTracker.viewAs(team)">{{team.name}}</a>
        </li>
        <li><a ng-click="StateTracker.viewAsAdmin()">Admin</a></li>
      </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><a class="nav-title">lucere</a></li>
    <li class="nav navbar-nav navbar-right"><a href="" ng-click="AuthService.logout()">Log Out</a></li>
    <li><a ng-href="#/user/{{AuthService.currentUser.id}}">{{AuthService.currentUser.name}}</a></li>

  </ul>


</div>  <!-- close div.collapse navbar-collapse -->