<div class="container">
  <div class="row row-bottom-margin">
    <h2 class="col-md-12">Library View - SFC3</h2>
  </div>

  <div class="row row-bottom-margin">
    <div class="col-xs-4">
      <input type="text" placeholder="New Module" class="form-control" ng-model="moduleName.name">
    </div>
    <div class="col-xs-4">
      <input type="submit" value="&plus; Create Module" class="btn btn-success" ng-click="createModule()"> 
    </div>
  </div>
  <div class="row">
    <ul ng-repeat="module in library.modules">
      <li ng-class="{'selected': models.selected === module}">
        <a href="/#/admin/library/{{params.libraryId}}/module/{{module.id}}">{{module.name}}</a>
      </li>
    </ul> 
  </div> 
</div> 