<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="col-lg-3">
      <!-- location for search field and button -->
    </div>
    <div class="col-lg-9">
      <ul class="nav navbar-nav">
        <li><a ng-href="#/team/{{currentUser.teams[0].id}}">View Team</a></li>
      </ul>
      <!-- TODO change to logo -->
      <ul class="nav navbar-nav navbar-right">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a class="navbar-brand" href="#"><b>lucere</b></a>
        <li><a ng-href="#/user/{{currentUser.id}}">{{currentUser.name}}</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>