<h1>Cohort: {{team.name}}</h1>
<form name="addUserForm" ng-show="isAdmin" ng-submit="addUser()" novalidate>
  <input type="text" placeholder="Github Username" ng-model="newUser.name" required>
  <button type="submit" ng-disabled="addUserForm.$invalid">Add new user</button>
</form>
<br>
<div>
  <ul ng-repeat="user in team.users">
    <li><a href="/#/user/{{user.id}}">{{user.name}}</a> <button ng-click="remove(user.id)" ng-show="isAdmin">Remove</button></li>
  </ul>
</div>
<form name="addTeamForm" ng-show="isAdmin && isCore"  ng-submit="addTeam()" novalidate>
  <input type="text" placeholder="Team Name" ng-model="newTeam.name" required>
  <button type="submit" ng-disabled="addTeamForm.$invalid">Add Team</button>
</form>